
    <!-- ------------------------------------CHAT-------------------------------------------------------- -->
    <div class="all" >

        <div class="titulo_chat">
            <h1>Chat</h1>
        </div>

        <div>

            <form onsubmit="return addMessage(this);">

                <input type="email" class="email" id="mail"  placeholder="Ingresar Gmail" required>

                <input type="text" class="email" id="nombre"  placeholder="Ingresar nombre" required>

                <input type="text" class="email" id="apellido"  placeholder="Ingresar apellido" required>

                <input type="number" class="email" id="edad"  placeholder="Ingresar edad" required>

                <input type="text" class="email" id="alias"  placeholder="Ingresar alias" required>

                <input type="text" class="email" id="avatar"  placeholder="Ingresar link de avatar" required>

                <div class="Chat_mensajes" id="messages"> </div>
                
                <input type="text" class="Enviar_mensj" id="text"  placeholder="Escribe tu Mensaje">

                <input type="submit" class="btn_Chat"  id="submit" value="Enviar"> 

            </form>

        </div>

    </div>
