<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css" type="text/css">
    <title>register</title>
</head>

<body style="background-color: rgb(57, 47, 114)">

    <div>

        <h1 for="validation" class="titulo">Ingrese sus Datos </h1>

    </div>
    
    <form action="/register" method="post">

        <div class="inputs">

            <input type="text"  id="username" placeholder="username" required>
            <input type="text"  id="gmail" placeholder="gmail" required>
            <input type="text"  id="password" placeholder="password" required>


        </div>

        <div>

            <div> <button type="submit" class="btn_agregarMail">Enviar</button> </div>
            <a class="btn_agregarMail" href="http://localhost:8080/login"> Log In </a>
        </div>


    </form>
    

</body

</html>