<div class="datos__container">

    <div>
        <h2 class="titulo"> Bienvenido <%= datos.user %>! </h2>
    </div>

    <div class="margen_Logout">
        <a class="btn_Logout" href="http://localhost:8080/logout"> Logout </a>
    </div>
    
</div>